<!DOCTYPE html>
<html>  
  <head>
      <% include ../partials/admin/head %>
  </head>
  <body class="bg-light">
    <header>
      <% include ../partials/header %>
    </header>
      
    <main role="main" class="container">
			<section class="jumbotron text-left">
        <div class="container">
				<% if (messages && messages.length == 1) { %>
					<div class="alert alert-warning" id="error" role="alert"><%= messages[0] %></div>
				<% } %>
				<div class="alert alert-dark" role="alert">
					Enter your username and password and click Log in to enter.
				</div>
				<form action="<%= url('login') %>" method="post" class="needs-validation" novalidate>
						<div class="form-group">
							<label>Username</label>
							<input type="text" id="username" name="username" class="form-control" required/>
							<div class="invalid-feedback">
              	Username must be filled out.
            	</div>
						</div>
						<div class="form-group">
							<label>Password</label>
							<input type="password" id="password" name="password" class="form-control" required/>
							<div class="invalid-feedback">
              	Password must be filled out.
            	</div>
						</div>
						<div>
							<input type="submit" id="login_submit" value="Log in" class="btn btn-primary"/>
						</div>
					</form>
				</div>
			</section>
		</main>
	</body>

	<script>
	// Example starter JavaScript for disabling form submissions if there are invalid fields
	(function() {
		'use strict';
		window.addEventListener('load', function() {
			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.getElementsByClassName('needs-validation');
			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function(form) {
				form.addEventListener('submit', function(event) {
					if (form.checkValidity() === false) {
						event.preventDefault();
						event.stopPropagation();
					}
					form.classList.add('was-validated');
				}, false);
			});
		}, false);
	})();
	</script>
	
	<footer>
		<% include ../partials/footer	 %>
	</footer>
</html>