<!DOCTYPE html>
<html>
  <header>
      <% include ./partials/header %>
  </header>
  
  <body class="container">
    <div id="mapid" style="width: 600px; height: 400px;"></div>
  </body>

  <footer>
      <% include ./partials/footer %>
  </footer>
</html>