<!DOCTYPE html>
<html>

<head>
  <% include ./partials/admin/head %>
</head>
<header>
  <% include ./partials/header %>
</header>

<body class="jumbotron">
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-9 p-lg-9 mx-auto my-5">
      <figure class="figure">
        <img src="/static/pub_image.jpg" class="img-thumbnail float-left mx-auto d-block"/>
        <figcaption class="figure-caption"><a href="https://www.flickr.com/photos/bdilworth/16607529578/in/photolist-rixVWS-op3CoC-qfUmU-qfRd1-qfSUd-qfWkN-8wX4M8-qfSz9-qfXFw-qfP3i-qfVu1-qfYub-qfViH-qfTVL-qfNvk-qg1J4-qfUVP-qfWKH-qfVVz-qfXQt-qfRpX-qfZRi-qfTHJ-qg1cz-qg2J2-qfUzh-qfPof-qg2jT-qfXwp-qfPyk-qfUKU-qfTvZ-qfXkE-qfQqH-qfVFx-qfZvH-qfMPm-qfR2E-qfMmK-qfZFu-qfZbX-qg1on-qfU8M-qfScz-qfThC-qg1xM-qfPeD-qfV8V-qfQCe-qfZmo">Whitechapel Pub Crawl, by Bob Dilworth</a></figcaption>        
      </figure>
      <h1 class="display-4 font-weight-normal">PubCrawl</h1>
      <p class="lead font-weight-normal">PubCrawl is a website that lets you create and run pub crawls. It is the sample application used in the MongoDB Geo Spatial Course.</p>
      <a class="btn btn-outline-secondary" href="/admin/create">Sign Up</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
</body>
<footer>
  <% include ./partials/footer %>
</footer>

</html>