<!DOCTYPE html>
<html>

<head>
  <% include ./partials/admin/head %>
</head>
<header>
  <% include ./partials/header %>
</header>

<body class="container">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Pub Crawl</h1>
      <p class="lead font-weight-normal">Your Tool to plan and execute Corporate or Group Pub Crawls.</p>
      <a class="btn btn-outline-secondary" href="/admin/create">Sign Up</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
</body>
<footer>
  <% include ./partials/footer %>
</footer>

</html>