version: 2
jobs:
  build:
    working_directory: ~/geo-spatial-course
    docker:
      - image: circleci/node:11.6.0
      - image: mongo:4.0.4
    steps:
      - checkout
      - run:
          name: update-npm
          command: 'sudo npm install -g npm@6'
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: install-npm-wee
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: test
          command: npm test
      - store_artifacts:
          path: test-results.xml
          prefix: tests
      - store_test_results:
          path: test-results.xml
  deploy:
    machine:
      enable: true
    working_directory: ~/geo-spatial-course
    steps:
      - deploy:
          name: digital-ocean
          command: ssh -o "StrictHostKeyChecking no" pubcrawl@134.209.65.161 "cd ~/geo-spatial-course; git pull; npm install; npm restart"

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
