<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/mobile/head %>
  </head>

  <header>
    <% include ../partials/mobile/header %>
  </header>

  <body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <div class="container">      
        <button id="centermap" class="btn btn-primary"><i class="fas fa-compass"></i></button>
        <button id="attendantsbutton" class="btn btn-primary"><i class="fas fa-users"></i><span class="badge badge-primary badge-pill"><%= doc.attendants ? doc.attendants.length : 0 %></span></button>
        <button id="mapbutton" class="btn btn-primary"><i class="fas fa-map"></i></button>
        <button id="nextpub" class="btn btn-primary"><i class="fas fa-beer"></i></button>
        <a href="/mobile/leave" id="leavecrawl" class="btn btn-primary" role="button" aria-disabled="true"><i class="fas fa-sign-out-alt"></i></a>
      </div>
    </nav>
    <div>
      <div id="mapid"></div>
      <div id="attendants"></div>
    </div>
  </body>

  <footer>
    <% include ../partials/mobile/footer %>
  </footer>

  <script>
    // Create pub crawl client
    var pubcrawlClient = new PubCrawlClient({
      mapDivId: 'mapid',
      accessToken: '<%= options.accessToken %>',
      pubCrawl: <%- JSON.stringify(doc) %>
    });

    // Peform the setup
    pubcrawlClient.setup();

    // Bind buttons
    $('#centermap').on('click', function() {
      pubcrawlClient.center();
    });

    $('#nextpub').on('click', function() {
      pubcrawlClient.centerNextPub();
    });

    // // Toggle function
    // function toggleMapAttendants() {
    //   // Hide controls
    //   $('#attendantsbutton').toggleClass('d-none');
    //   $('#mapid').toggleClass('d-none');

    //   // Show controls
    //   $('#attendants').toggleClass('d-none');
    //   $('#mapbutton').toggleClass('d-none');
    // }

    function showMap() {
      $('#attendants').hide();
      $('#mapbutton').hide();
      
      $('#mapid').show();
      $('#attendantsbutton').show();
    }

    function showAttendants() {
      $('#attendants').show();
      $('#mapbutton').show();

      $('#mapid').hide();
      $('#attendantsbutton').hide();
    }

    // Show an hide buttons
    $('#attendantsbutton').on('click', function() {
      // Load the attendants
      pubcrawlClient.loadAttendants("attendants");
      
      // Show attendants
      showAttendants();

      // // Hide controls
      // $('#attendantsbutton').addClass('d-none');
      // $('#mapid').addClass('d-none');

      // // Show controls
      // $('#attendants').removeClass('d-none');
      // $('#mapbutton').removeClass('d-none');
    });

    // Show an hide buttons
    $('#mapbutton').on('click', function() {
      showMap();
      // // Hide controls
      // $('#attendants').addClass('d-none');
      // $('#mapbutton').addClass('d-none');

      // // Show controls
      // $('#attendantsbutton').removeClass('d-none');
      // $('#mapid').removeClass('d-none');
    });

    showMap();
  </script>
</html>