<!DOCTYPE html>
<html>
    <% include ../partials/header %>

  <head>
      <script src="/static/mobile_client.js" type='text/javascript'></script>
  </head>
  <body>
      <div id="mapid" style="width: 600px; height: 400px;"></div>
  </body>

  <% include ../partials/footer %>
</html>