<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/mobile/head %>
  </head>

  <header>
    <% include ../partials/mobile/header %>
  </header>

  <body>
    <div class="container">
      <div id="crawls"></div>
    </div>
    <div id="mapid" style="width: 600px; height: 400px;"></div>
  </body>

  <footer>
    <% include ../partials/mobile/footer %>
  </footer>

  <script>
    mobileSetup({
      mapDivId: 'mapid',
      accessToken: '<%= options.accessToken %>'
    });
  </script>
</html>