<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/mobile/head %>
  </head>

  <header>
    <% include ../partials/mobile/header %>
  </header>

  <body>
    <% if (Object.keys(errors).length == 1 && errors['error']) { %>
      <div class="alert alert-warning" role="alert"><%= errors['error'] %></div>
    <% } %>
    <div class="container">
      <% if (typeof messages != 'undefined' && messages.length == 1) { %>
        <div class="alert alert-warning" id="error" role="alert"><%= messages[0] %></div>
      <% } %>
      <div id="crawls"></div>
    </div>
    <div id="mapid" style="width: 600px; height: 400px;"></div>
  </body>

  <footer>
    <% include ../partials/mobile/footer %>
  </footer>

  <script>
    mobileSetup({
      mapDivId: 'mapid',
      accessToken: '<%= options.accessToken %>'
    });
  </script>
</html>